*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-image: url(../images/img5.jpg);
    /* min-width: 100vh; */
    background-position: center;
}

.main{
    width: 100%;
    background-position: center ;
    background-size: cover;
    height: 100vh;

}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    margin-top: 20px;
    
}
.logo{
    width: 170px;
    height: 35px;
    display: flex;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 30px;
    font-family: Arial;
    color: #909b56 ;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
ul li{
    list-style: none;
    margin-left: 72px;
    margin-top: 27px;
    font-size: 18px;
}
ul li a{
    display: flex;
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    cursor: pointer;
    transition: 0.4s;
}

ul li a:hover{
    color: #909b56;
    
}

.search{
    width: 330px;
    margin-right: 110px;
    margin-top: 15px;
}

.srch{
    font-family: Arial;
    width: 230px;
    height: 43px;
    margin-top: 13px;
    background: transparent;
    border: 1px solid #909b56;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    padding: 10px;
    

}

.btn{
    width: 60px;
    height: 43px;
    background-color: #909b56;
    color: #fff;
    margin-right: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 13px;
    cursor: pointer;

}

h1{
    color: #909b56;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: Arial;
}

h1::first-letter {
    font-size: 200%;
}



.content {
    padding: 19px;
    
    margin-left: 15px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    width: 40%;
    height: 65%;
    transform: translateY(140px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content p{
    text-indent: 40px;
    text-align: justify;
    color: rgb(143, 135, 135);
    font-size: 20px;
    margin-top: 10px;
    /* margin-left: 50px; */
    line-height: 30px;
}

.join{
    width: 160px;
    height: 40px;
    background: #909b56;
    color: #fff;
    border: none;
    margin-top: 30px;
    margin-left: 100px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 24px;
}

.join:hover{
 background-color: #fff;
 color: #909b56;
 transition: .6s ease;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    bottom: 115px;
    right: 150px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    font-size: 22px;
    
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #909b56;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    margin-top: 30px;
    font-family: sans-serif;
    outline: none;
}

.login{
    width: 240px;
    height: 40px;
    background: #909b56;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.login:hover{
    background: #fff;
    color: #909b56;
    transition: .6s ease-in-out;
}


p.link {
    margin:35px 30px 0 0;
    color:#fff;
    transform: translateX(15px);
}

.register a {
    display: inline-block;
    margin-left: 5px;
    text-decoration: none;
    color: #909b56;
    padding: 10px;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* input::placeholder {
    color:yellow;
}

input {
    caret-color: orange;
} */
